@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/Content/About.css" />

<div id="about-info">
    <div class="center-block">
        <div class="info-box">
            <img src="https://avatars3.githubusercontent.com/u/9459392?s=400&u=e014ff7c09f30f56b08a07b0d6f023800ceb1188&v=4">
            <h2>Dimitar Pelev</h2>
            <h3>Telerik Academy Student - 2016/2017</h3>
            <p>GitHub: <a href="https://github.com/J-Mitko">github.com/j-mitko</a></p>
        </div>
    </div>
</div>