@using AstrophotographyBlog.Web.Models
@model HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("_PostListItem", post);
    }
</div>